.header-pager {
    background-color: rgb(230, 206, 140)
}
.dropdown-search {
    background-color: aliceblue;
}
.search-bar {
    padding: 15px;
}
.button-filter {
    background-color: rgb(207, 157, 18)
}